.row{
 margin-left: 20px;
 color: #fff;   
 margin-top:10px ;
 margin-left: 10px;
}

.posters{
    display: flex;
    padding: 15px;
    overflow-x:scroll;
    overflow-y: hidden;
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}

.smallPoster{
    max-height: 150px; 
    margin-right: 10px;
    cursor: pointer;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster:hover{
    transform: scale(1.09);
    transition: .5s;
}
.smallPoster:hover{
    transform: scale(1.09);
    transition: .5s;
}